.main-content {
  display: grid;
  height: 100vh;
  justify-content: space-evenly;
}

@media (min-width: 800px) {
  .main-content {
    grid-template-columns: auto auto auto auto auto;
    align-content: center;
  }
  
  .item1 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .item2 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  
  .item3 {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

@media (max-width: 799px) {
  .main-content {
    padding-top: 40px;
    align-content: space-between;
  }
}
