.main-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-auto-rows: 250px;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 40px;
  height: 100vh;
}

.item1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.item3 {
  grid-column-start: 4;
  grid-column-end: 5;
}