
div.card {
  width: 250px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, 0.1);
  border-radius: 5px;
  margin: 16px;
}

div.card > div.card-header {
  height: 32px;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  border-bottom: solid 2px #ebebeb;
  color: #737c84;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

div.card > div > div.card-body {
  height: 150px;
  width: 100%;
  background-color: #fff;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card > div > div.card-body > span.celsius-simbol {
  font-size: 42px;
  height: 72px;
}

div.card > div > div.card-footer {
  background-color: rgba(241, 241, 241, 0.5);
  display: block;
  color: rgba(115, 124, 132, 0.5);
  font-size: 10px;
  padding: 16px 0 16px 0;
}

div.card > div > div.card-footer > div.footer-line {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.card > div > div.card-footer > div.detail {
  margin-bottom: 8px;
  font-size: 12px;
}

div.card > div > div.card-footer > div.detail > div > span.detail-value {
  font-size: 16px;
  color: #737c84;
}

div.card > div > div.card-footer > div.detail > div > span.detail-value-simbol {
  font-size: 12px;
  color: #737c84;
}

.low-temperature {
  color: #69a3ff;
}

.medium-temperature {
  color: #ff9632;
}

.high-temperature {
  color: #ed1946;
}